{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__DEBUG_NEW_WINDOW__": false,
    "__BASENAME__": false
  },
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "space-before-function-paren": [
      2,
      "never"
    ],
    "jsx-quotes": [
      2,
      "prefer-double"
    ]
  }
}
